header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}
.logo {
    margin-left: 100px;
}
header img{
    width: 150px;
    height: 150px;
}
header ul{
    list-style: none;
    margin-right: 100px;
}
header ul li {
    display: inline-block;
    margin: 15px;
    padding: 10px;
}

header .nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 10px 35px;
}

header a {
    text-decoration: none;
    color:rgb(0, 0, 0);
}
/* Красит фон кнопки при наведении */
.nav-button :hover {
    background-color: #e4e3e9;
    border-radius: 5px;
    padding: 10px 35px;
    opacity: 0.9;
    transition: 0.1s linear;
}

.wrap {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.wrap.desc{
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.desc-text.title{
    display: flex;
    justify-content: left;
    font-family: 'Oswald', sans-serif;
    font-size: 44px;
}

.desc-text.main{
    list-style-type: none;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.desc.start-button{
    display: flex;
    justify-content: start;
    margin-top: 50px;

}
.desc .start-button a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color:rgb(255, 255, 255);
    border: 1px solid #391b8b;
    background-color: #391b8b;
    padding: 10px 35px;
    border-radius: 5px;
    margin: 50px 0;

}
.desc-text .button a:hover{
    background-color: #352c4e;
    transition: 0.1s linear;
}
.desc-img{
    max-width: 585px;
}
.desc-img img{
    margin-left: 30px;
    width: 400px;
    height: 465px;
}

/**********************  Наши преимущества  *********************/

.wrap.adv{
    max-width: none;
    width: 100%;
    background-color: #5c59c2;
}

.adv_title {
    font-size: 36px;
    color: #fff;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 50px;
    padding-top: 50px;
}
.advantages{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 50px;
}
.advantage {
    color: #fff;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}
.adv_logo{
    display: flex;
    justify-content: center;
}
.adv_logo img{
    width: 112px;
    height: 112px;
}


/**********************  Интересные проекты  *********************/
.wrap.int_projects{
    max-width: 1200px;
}

.int_projects_title{
    text-align: center;
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 50px;
}
.int_projects{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    overflow: hidden;

}
.project{
    background-color: #e4e3e9;
    width: 28%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    transition: transform 0.5s ease;
    max-width: 308px;
    max-height: 370px;
}

.int_projects_control.slide-button{
    display: flex;
    align-items: center;
}

.po_info{
    display: flex;
    align-items: center;
}
.po_logo img{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 13px;
}
.po_nickname{
    margin-left: 20px;
    font-family: 'Oswald', sans-serif;
}
.project_desc {
    text-align: left;
    font-family: 'Cormorant+Garamond:ital,wght@1,500', serif;
}
.border_line{
    border: 1px solid #391b8b;
    opacity: 0.7;
}
.stack_info ul {
    column-count: 2; /* Set the number of columns to 2 */
    max-height: 100px; /* Set a maximum height for the container */
    overflow: hidden;
}
.stack_info li {
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
}



.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.follow {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 120px;
}
.sn_icons {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}